:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
/* Avoid FOUCE when WA components are loading. */
#app *:not(:defined) {
  opacity: 0;
}
#app *:defined {
  opacity: 1;
  transition: 0.25s opacity;
}

html, body {
  margin: 0;
  padding: 0;
  font-size: 16px;
}